@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-vnw1i6');
	src:url('../fonts/icomoon.eot?#iefix-vnw1i6') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-vnw1i6') format('truetype'),
		url('../fonts/icomoon.woff?-vnw1i6') format('woff'),
		url('../fonts/icomoon.svg?-vnw1i6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubbles2:before {
	content: "\e96d";
}
.icon-star-empty:before {
	content: "\e9d7";
}