<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo Libreria</title>
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="cabecera">
		<div class="row row__space__between">
			<span class="logo">Book Center</span>
		    <ul class="menu">
		    	<li class="menu__item"><a href="/ingresar/">Login</a></li>
		      	<li class="menu__item"><a href="/registrar/">Registrarse</a></li>
		    </ul>
		</div>
    </header>
	<section class="principal">

		<div class="contenedor">

			<h1 class="principal__titulo">Librería</h1>
			<span class="principal__subtitulo">Encuentra los mejores libros que deseas.</span>

			<div class="libros">

				{% for book in books %}
					<article class="libro">

						<img src="{{ book.image }}" alt="" class="libro__img">
						<div class="libro__sombra">

							<h3 class="libro__titulo"><a href="/libro/{{ book.slug }}/">{{ book.title }}</a></h3>
							<span class="libro__autor">{{ book.author }}</span>

						</div>

					</article>
				{% endfor %}

				

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>
				</article>
			</div>
		</div>
	</section>
	<footer class="footer">
      <div class="contenedor">
        <hr class="footer__linea">
        <span class="footer__texto">Proyecto realizado por DevCode en el curso de Fundamentos de Node.js</span>
      </div>
    </footer>
</body>
</html>