<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo Libreria</title>
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="cabecera">
		<div class="row row__space__between">
			<span class="logo">Book Center</span>
		    <ul class="menu">
		    	<li class="menu__item"><a href="/ingresar/">Login</a></li>
		      	<li class="menu__item"><a href="/registrar/">Sign up</a></li>
		    </ul>
		</div>
    </header>
	<div class="contenedor">

	    <article class="detalle">

	      	<img src="{{ book.image }}" alt="" class="detalle__img">

	      	<section class="detalle__cuerpo">

		        <div class="detalle__info">

		          	<div class="detalle__texto">

			            <h1 class="detalle__titulo">{{ book.title }}</h1>
			            <div class="detalle_autor">
			              <img src="/img/profesor.png" alt="" class="detalle__autor_img">
			              <span class="detaller__autor_nombre">{{ book.author }}</span>
			            </div>
			            <p class="detalle__descripcion">{{ book.summary }}</p>
		          	</div>

		        </div>

		        <section class="comentarios">

		          	<header class="comentarios__cabecera">
			            <h3 class="comentarios__titulo">Comentarios</h3>
			            <span class="icon-bubbles2 comentarios__cantidad"> 2</span>
		          	</header>

		          	<div class="comentario">

			            <img src="/img/usuario.jpeg" alt="" class="comentario__img">

			            <div class="comentario__texto">

			            	<h4 class="comentario__autor">Karen de Graaf</h4>
			            	<p class="comentario__descripcion">This is a book about JavaScript, programming, and the wonders of the digital. You can read it online.</p>

		            	</div>

		          	</div>

		          	<form class="comentario__form">

		            	<input type="text" class="comentario__input" placeholder="Escribe un comentario ...">
						
		            	<button type="submit" class="comentario__boton">Dejar comentario</button>

		          	</form>

		        </section>

	    	</section>

	    </article>

  	</div>
	<footer class="footer">
      <div class="contenedor">
        <hr class="footer__linea">
        <span class="footer__texto">Proyecto realizado por DevCode en el curso de Fundamentos de Node.js</span>
      </div>
    </footer>
</body>
</html>